# OS-specific
.DS_Store

# editors
*.swp

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
Gemfile.lock
vendor

# Vagrant
.vagrant
Vagrantfile
!example_box/Vagrantfile

# RVM files for gemset/ruby setting
.ruby-*
.rvmrc
